
.task-phase-card {
  display: flex;
  flex-direction: column;

  .input-mat-select {
    width: 100%;
  }

  .muted-toggle-row {
    margin-bottom: 16px;
  }

  .dialog-action-button {
    display: flex;
    justify-content: space-between;
  }
}


