.live-kit-tabs {
    display: block;
}

.live-kit-main-container{
    display: flex;
    flex-direction: row;
    height: calc(80vh - 48px);

    .live-kit-user-list{
        overflow: scroll;
    }

    .live-chat-container{
    flex:1
}
}
