@import "../../../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../../../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material-mixin.scss";
@import "~ag-grid-community/dist/styles/ag-grid.css";
$background-color: #122542;
$empty-background-color: #122542;
$text-color: #fff;
$hover-background-color: #4680ff;
$border-color: #787da2;
.ag-theme-material {
  @include ag-theme-material();
}

.ag-theme-material .ag-header-group-cell:not(.ag-column-resizing) + .ag-header-group-cell:not(.ag-header-cell-moving):hover, .ag-theme-material .ag-header-group-cell:not(.ag-column-resizing) + .ag-header-group-cell.ag-column-resizing, .ag-theme-material .ag-header-cell:not(.ag-column-resizing) + .ag-header-cell:not(.ag-header-cell-moving):hover, .ag-theme-material .ag-header-cell:not(.ag-column-resizing) + .ag-header-cell.ag-column-resizing, .ag-theme-material .ag-header-group-cell:first-of-type:not(.ag-header-cell-moving):hover, .ag-theme-material .ag-header-group-cell:first-of-type.ag-column-resizing, .ag-theme-material .ag-header-cell:first-of-type:not(.ag-header-cell-moving):hover, .ag-theme-material .ag-header-cell:first-of-type.ag-column-resizing {
  background-color: var(--ag-header-cell-hover-background-color, $hover-background-color);
}

.ag-theme-material input[class^=ag-]:focus:not([type]), .ag-theme-material input[class^=ag-][type=text]:focus, .ag-theme-material input[class^=ag-][type=number]:focus, .ag-theme-material input[class^=ag-][type=tel]:focus, .ag-theme-material input[class^=ag-][type=date]:focus, .ag-theme-material input[class^=ag-][type=datetime-local]:focus, .ag-theme-material textarea[class^=ag-]:focus {
  border-bottom: 2px solid;
  border-bottom-color:  #787da2;
  border-bottom-color: var(--ag-material-primary-color,  #787da2);
  outline: none;
  box-shadow: none;
}

.ag-theme-material .ag-row {
  height: 48px;
  background-color: $background-color;
  background-color: var(--ag-background-color, $background-color);
  color: rgba(0, 0, 0, 0.87);
  color: var(--ag-data-color, var(--ag-foreground-color, rgba(0, 0, 0, 0.87)));
  border-width: 1px;
  border-color: $border-color;
  border-color: var(--ag-row-border-color, var(--ag-secondary-border-color, var(--ag-border-color, $border-color)));
}

.ag-cell-inline-editing .ag-cell-editor input::selection {
  background: $background-color;
}

.ag-theme-alpine .ag-ltr .ag-header-select-all {
  margin-right: 5px!important;
}

.ag-header-viewport {
  border: $border-color solid 1px;
  border-bottom: 0px;
}
.ag-center-cols-viewport {
  border: $border-color solid 1px;
  background-color: $empty-background-color;
}
.ag-floating-bottom.ag-selectable{
  border: $border-color solid 1px;
}
.ag-theme-material .ag-header-cell, .ag-theme-material .ag-header-group-cell {
  transition: background-color 0.3s;
  background: $background-color;
}
.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: $hover-background-color !important;
}
.ag-column-hover {
  background-color: $hover-background-color ;
}

.ag-header-cell-text {
  color: $text-color;
  a {
    color: $text-color;
  }
}

.ag-cell-value {
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  a {
    color: $text-color;
  }
}

.ag-theme-material .ag-icon {
  color: $text-color;
  font-size: 15px!important;
}

.ag-body-horizontal-scroll-viewport {
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.ag-theme-material .ag-header-cell, .ag-theme-material .ag-header-group-cell {
  //transition: background-color .3s;
  background: $background-color;
}
.ag-theme-material .ag-paging-panel {
  background-color: $empty-background-color;
}
