.data-input-container {
  //border: 1px solid rgb(213 213 213 / 55%);
  //padding: 20px;
  position: relative;
  margin: 0 0 15px 0;

  .date-input-border-title {
    position: absolute;
    top: -9px;
    left: 13px;
    height: 18px;
    background: #fff;
    padding: 0 5px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: rgb(0 0 0 / 49%);
  }
  input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #9e9e9ecf;
    border-radius: 4px;
  }
}
