.file-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}
.file-button {
  margin-left: 1%;
}
.file-formats-hint {
  margin-left: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
