.margin-element{
  margin-top: 1%;
}
.margin-first-checkbox-element{
  margin-top: 3%;
}
.target-label{
  margin-bottom: 1%;
}
.users-card-specific-selection{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}
