//.mat-button-toggle {
//  background-color: mat-color($primary);
//  color: mat-color($primary, default-contrast);
//}

.mat-button-toggle-checked {
  background-color: #3d72e0;
  color: #fff;
}
.custom-logo-header{
  transition: all 0.3s ease-in-out;
}
.brand-img{
  max-height: 40px;
}
