@use "sass:color";

$main-text-color: color.adjust(#7a7d87, $lightness: -10%, $space: hsl);
$signin-button-color: #212121;
.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $main-text-color!important;

}
.mat-form-field-label {
  /*change color of label*/
  color: $main-text-color !important;
}
.mat-input-element{
  color: $main-text-color;
  caret-color: $main-text-color;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: $main-text-color !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $main-text-color !important;;
}
.full-width {
  width: 100%;
  .mat-text-field{
    width: 100%;
  }
}
.custom-card{
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 0 transparent;
}
.header-style{
  color: $signin-button-color;
  text-decoration: underline;
}
.help-block{
  color: red
}
.custom-mat-icon{
  color: $main-text-color;
  cursor: pointer;
}
//.btn{
// background-color: #FFBF00;
////background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  100%)
//}

.btn-grad {background-color: $signin-button-color}
.btn-grad {
  margin-bottom: 10px;
  padding: 9px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  display: block;
  width: 100%;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  background-color: color.adjust($signin-button-color, $lightness: -10%, $space: hsl)
}
.login-image{
  color: $main-text-color;
  width:30px;
  margin-bottom:3px;
  margin-right:5px;
  border-radius: 50%;
}
.login-image:hover{
  box-shadow: 0 0 10px #999;
}
.loading-div {
  position: absolute;
  width:100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  z-index: 10000
}
.main-auth-container{
  //height: 100%;
  //margin: 0;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}
.logo-img-container{
  margin: 2%;
  display: flex;
  justify-content: space-between;
}
////
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
.social-login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.side-img{
  max-width: 100%;
}
.side-img-div{
  width: 50%;
}
@media only screen and (max-width: 900px){
 .side-img-div {
   display: none;
  }
}
.main-btn{
  width: 100%;
  border: 1px solid grey!important;
}
.main-brand-logo{
  margin: 30px;
}
