.calendar-menu-container{
  justify-content: center;
}
.btn-toggle-control{
  height: 36px;
  align-items: center;
}
::ng-deep .btn-toggle-control .mat-button-toggle-label-content {
  line-height: 34px;
  padding: 0 16px;
}
.event-icon-container{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  font-size: 15px;
}
