.calendar-menu-container{
  justify-content: center;
}
.btn-toggle-control{
  height: 20px;
  align-items: center;
}
.event-icon-container{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  font-size: 15px;
}
